

.maincontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
   height: 90vh;
   width: 100vw;
   
   box-sizing: border-box;
   background-color: #0d0d0c;
   color: white;
}
 .maincontainer .maincontainerone, .maincontainertwo{
  width: 80%;
  height: 40vh;
   display: flex;
   justify-content: space-between;
     box-shadow: 10px 10px 0px 5px rgb(35, 1, 1);
 }
 
 .maincontainer .maincontainerone .maincontaineroneright img{
  width: 100%;
  height: 100%;
 }
 .maincontainer .maincontainertwo .maincontaineroneright img{
  width: 100%;
  height: 100%;
 }
 .maincontainer .maincontainertwo{
   width: 80%;
  height: 40vh;
  
 }
 .maincontainer .maincontaineroneleft1 img{
  
  width: 120px;
  height: 120px;
 }
 .maincontainer .maincontaineroneleft1 {
  display: flex;
  justify-content: space-between;
 }
 .maincontainer .maincontaineroneleft1 .maincontaineroneleftleft{
  
  width: 75%;
 }
  .maincontainer .maincontaineroneleft1 {
    display: flex;
 }
.maincontainer .maincontainerone .maincontaineroneleft{
    
    width: 50%;
 }
 .maincontainer .maincontainertwo .maincontaineroneleft{
   
    width: 50%;
    
 }
 .maincontainer .maincontainerone .maincontaineroneright{
   
    width: 45%;
 }
 .maincontainer .maincontainertwo .maincontaineroneright{
    
    width: 45%;
 }
 